@{
    ViewBag.Title = "Wahana";
}
<h2 align="center">@ViewBag.Title</h2>


<div class="row">
    <div class="col-lg-4">
        <h2>Giant Bucket</h2>
        <img src="~/IMG/giant.JPG" a width="140px" />
        <p align="justify">Giant bucket merupakan sebuah tong raksasa yang diisi air sedikit demi sedikit hingga penuh dan akhirnya tumpah secara sekaligus membasahi orang-orang di bawahnya. Tong besar ini dapat menampung air sebanyak 2 ton air dan akan tumpah sekaligus setiap 15 menit. Ayo segarkan tubuhmu dengan sensasi 2 ton air dari tong raksasa.</p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <h2>Hurricane</h2>
        <img src="~/IMG/cane.JPG" a width="140px" />
        <p align="justify">Hurricane merupakan wahana paling digemari, anda akan meluncur menggunakan ban. Hurricane ini waterslide yang berbentuk corong dengan sensasi terombang ambing di dalam corong raksasa.</p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <h2>Flush Bowl</h2>
        <img src="~/IMG/flush.JPG" a width="140px" />
        <p align="justify">Wahana dengan slide berbentuk mangkok raksasa, anda akan meluncur dari ketinggian 14 meter. Rasakan kejutan tubuhmu terjatuh dan berpusat dengan kecang dalam flush bowl.</p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
</div><!-- /.row -->

<div class="row">
    <div class="col-lg-4">
        <h2>Tube Coaster</h2>
        <img src="~/IMG/tube.JPG" a width="140px" />
        <p align="justify">Wahana ini juga harus anda coba, wahana akan membawa anda meluncur dari ketinggian 14 menter dengan menggunakan ban hingga tiba di tengah kolam. Di sini anda bisa meluncur seorang diri ataupun bersama teman. Anda akan diajak meluncur kencang melalui lintasan yang berkelok sebelum akhirnya tiba di kolam. Ayo ambil ban pelampungmu dan nikmati atraksi seluncuran yang seru ini.</p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <h2>Cool Running</h2>
        <img src="~/IMG/cool.JPG" a width="140px" />
        <p align="justify">Wahana slide berwarna putih ini diperuntukkan bagi anak-anak atau orang yang memiliki berat badan 50 Kg. Ambil matrasmu dan meluncurlah kebawah melewati pegunungan salju.</p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <h2>Everslide</h2>
        <img src="~/IMG/everslide.JPG" a width="140px" />
        <p align="justify">Everslide merupakan wahana yang terdiri atas 4 seluncuran terbuka 12 meter dan panjang 60 meter yang akan memberikan pengalaman seru dan penuh sensasi.</p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
</div><!-- /.row -->
