@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

    <div id="myCarousel" class="carousel slide" data-ride="carousel" class="fill">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img class="first-slide" src="~/IMG/a.jpg" alt="First slide">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Paradise Waterpark </h1>
                         <p>Rasakan sensasi wahana air </p>
                         <p><a class="btn btn-lg btn-primary"></a></p>
                    </div>
                </div>
            </div>
            <div class="item">
                <img class="second-slide" src="~/IMG/f.jpg" alt="Second slide">
                <div class="container">
                    <div class="carousel-caption">
                        <p> </p>
                        <p><a class="btn btn-lg btn-primary"></a></p>
                    </div>
                </div>
            </div>
            <div class="item">
                <img class="third-slide" src="~/IMG/c.jpg" alt="Third slide">
                <div class="container">
                    <div class="carousel-caption">
                        <h1 font-color="black"></h1>
                        <p> </p>
                        <p><a class="btn btn-lg btn-primary" href="form.html" role="button">tapin</a></p>
                    </div>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<hr class="featurette-divider">

<div class="col-md-4">
    <h2>Loker</h2>
    <img src="~/IMG/e.jpg" width="200px" />
    <h4><p> Paradise Waterpark dilengkapi dengan loker untuk penyimpanan barang anda sehingga anda dapat bersenang-senang dalam waterpark dengan rasa aman.</p></h4>
    <p><a class="btn btn-defaul</p>
    <p><a class="btn btn-lg btn-primary"> &raquo;</a></p>
</div>


<div class="col-md-4">
    <h2> Water Slide</h2>
    <img src="~/IMG/waterslide.jpg" width="200px" />
    <h4 <p>Water slide Paradise Waterpark terdapat 17 seluncur air yang memberikan sensasi menegangkan dan menebarkan.</p></h4>
    <p><a class="btn btn-defaul</p>
    <p><a class="btn btn-default" href=> &raquo;</a></p>
</div>

<div class="col-md-4">
    <h2>Gazebo</h2>
    <img src="~/IMG/d.jpg" width="200px">
    <h4><p>Paradise Waterpark menyediakan fasilitas Gazebo yang nyaman dan luas. Dengan harga Rp. 300.000 untuk 4 orang selama 3 jam. </p></h4>

    <p><a class="btn btn-default"> &raquo;</a></p>
</div>
</div>
<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">Jam Operasional <span class="text-muted"></span></h2>
        <h4 class="lead">Jam operasional : 09.00 - 18.00 WIB</h4>
        <h4 class="lead">Senin-Jumat Rp. 140.000,-</h4>
        <h4 class="lead">Sabtu-Minggu Rp. 180.000,-</h4>
        <p class="lead"></p>
    </div>
    <div class="col-md-5">
        <img class="img-center" src="~/IMG/jam.jpg" alt="img" width="500" height="400">
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">Promo. <span class="text-muted"></span></h2>
        <h4 class="lead">Promo gratis tiket masuk dari Paradise Waterpark khusus bagi yang berulang tahun di bulan November 2019. Super fun Thrilling Holiday dai Paradise Waterpark hadirkan wahana wisata taman air yang seru untuk hibutan bersama teman-teman dan keluarga.</h4>
    </div>
    <div class="col-md-5">
        <img class="img-center" src="~/IMG/promo.jpg" alt="img" width="500" height="400">
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">Paradise Waterpark<span class="text-muted"></span></h2>
        <h4 class="lead">Paradise Waterpark adalah wahana yang dirancang khusus sebagai taman rekreasi petualangan berkelas dunia. Banyak pilihan permainan air yang bisa dinikmati anak-anak, remaja ataupun orang dewasa. Di sini dikembangkan berbagai fasilitas air yang menyajikan bermacam tantangan air yang seru, menegangkan, menjadi wahana wisata air favorit bagi keluarga.</h4>
    </div>
    <div class="col-md-5">
        <video width="450" height="500" controls="controls">
            <source src="~/IMG/waterpark.mp4" type="video/mp4" />
            <source src="~/IMG/waterpark.mp4" type="video/ogg" />
            <source src="~/IMG/waterpark.mp4" type="video/webm" />
            Your browser does not support the video tag.
        </video>>
    </div>
</div>

<hr class="featurette-divider">

<footer>
    <div class="container">
        <h2 align="center">Contact Us</h2>
        <h4 align="center"><th> <IMG SRC="~/IMG/fb.jpg"></th><th>&nbsp</th><th><IMG SRC="~/IMG/twitter.jpg"></th><th> <IMG SRC="~/IMG/ig.jpg"></th></h4>
        <form>
            <div class="form-group">
                <label for="Email">Email:</label>
                <input type="Email" class="form-control" id="Email" placeholder="Enter Email">
            </div>
            <div class="form-group">
                <label for="Comment">Comment:</label>
                <input type="Comment" class="form-control" id="Comment" placeholder="Enter Comment">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</footer>
<div class="row featurette">
    </div>

    </div>
</div>
